//__NORMALIZE__
@import "./helpers/normalize";

//__HELPERS__
@import "./helpers/veriables";
@import "./helpers/mixins";
@import "./helpers/fonts";

//__CORE-SECTION-STYLES__
@import "./core/header";
@import "./core/hero-box";
@import "./core/offer-section";
@import "./core/payments-section";
@import "./core/opportunities-section";
@import "./core/footer";

.container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 16px;
}
body {
  font-family: "JosefinSans";
}
li{
  list-style: none;
}
button {
  cursor: pointer;
}