.header {
    position: fixed;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    z-index: 100;
  }
  .header a {
    text-decoration: none;
    display: flex;
    color: $default-white;
    text-shadow: 1px 1px 2px #333;
  }
  .header li {
    list-style: none;
  }
  .site-logo {
    font-family: "JosefinSans-Bold";
    font-size: $fs-xl;
    color: $default-white;
    text-shadow: 1px 1px 2px #333;
  }
  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .navbar-buttons {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .navbar-buttons li {
    margin-right: 16px;
    font-size: $fs-l;
  }
  .navbar-buttons li:last-child {
    margin-right: 0;
  }
  .navbar-buttons li:nth-child(3n) {
    margin-right: 24px;
  }
  

  .login-button {
    @include buttonTextStyle;
    max-width: 135px;
    background-color: $default-purple;
    color: $default-white;
    padding: 16px 40px 14px 40px;
  }
  
  .regist-button {
    @include buttonTextStyle;
    max-width: 160px;
    background-color: $default-pink;
    color: $default-purple;
    padding: 16px 40px 14px 40px;
  }
  