@font-face {
    font-family: "JosefinSans";
    src: url(../fonts/static/JosefinSans-Regular.ttf);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: "JosefinSans-Bold";
    src: url(../fonts/static/JosefinSans-Bold.ttf);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }