//__COLORS__
$default-white: #fff;
$default-pink: #ffd2dd;
$default-purple: #5e4dcd;
$light-gray: #ECECEC;
$default-gray: #999;
$dark-gray: #333;

//__FONTS SIZE__
$fs-header-herobox: 3.75rem;
$fs-xxs: 0,625rem;
$fs-xs: 0.75rem;
$fs-s: 0.875rem;
$fs-m: 0.9375rem;
$fs-l: 1rem;
$fs-xl: 1.5rem;
$fs-xxl: 3rem;

// SCREEN WIDTH
$screen-width-mobile-lg: 576px;
$screen-width-tablet: 768px;
$screen-width-tablet-lg: 992px;
$screen-width-laptop: 1200px;
$screen-width-laptop-md: 1400px;
$screen-width-laptop-lg: 1536px;